
.frame{
  position:absolute;
  left:10%;
  right:10%;
  top:50%;
  height:800px;
  width:80%;
  z-index: 1;
}

.frame_2{
  position: absolute;
  top:200%;
  left:10%;
  height:800px;
  width:80%;
  z-index: 1;

}
